* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    height: 100vh;
}
.content {
    padding: 0 20px;
    font-family: Helvetica,Arial,Sans-serif;
}
                         /* header */
/* см. src/header/header.css */


                            /* main */
/* см. src/main_content/main_content.css */


                        /* footer */
/* см. src/footer/footer.css */

                    /* search */








