.footer {
    height: 380px;
    background-color: #111;
    font-family: Helvetica,Arial,Sans-serif;
    padding: 48px 100px 0;
}
.footer__top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 48px;

    height: 150px;
}
.footer__heading {
    color: #666;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.footer_list{
    list-style-type: none;
}
.footer__list__link {
    color: lightgrey;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
}
.footer__bottom {
    border-top: 1px solid #222;
    padding-top: 25px;
    padding-bottom: 48px;
}
.footer__audioscrobbler{
    font-size: 12px;
    color: #fff;
}
.div__footer__logo {
    text-align: end;
    padding-left: 10px;
    line-height: 20px;
}
.footer__logo {
    width: 37px;
    height: 20px;
}
.footer__bottom_flex_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.language__list {
    text-align: start;
    list-style-type: none;
    font-size: 14px;
}
.current__language{
    margin-right: 20px;
    color: lightgrey;
    display: inline;
}
.additional__language{
    margin-right: 20px;
    color: #666;
    display: inline;
}
.timeZone{
    font-size: 14px;
    color: #666;
}
.footer__legal{
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}
.footer__legal__list{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    list-style-type: none;
}
.footer__legal__list__item{
    margin-right: 5px;
}
ul.footer__legal__list li + li:before{
    content: "/ ";
}
ul.footer__legal__list li a{
    color: #666;
    text-decoration: none;
}